.scrollToTop {
  position: fixed;
  right: 0px;
  bottom: 20px;
  width: 45px;
  height: 45px;
  background: var(--second-color);
  color: #fff;
  font-size: var(--small-font-size);
  border-radius: 5px;
  cursor: pointer;
  z-index: -1;
  box-shadow: 0px 0px 6px rgb(54, 54, 54);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s linear;
}

.scrollToTop.flex-center {
  justify-content: center;
}

.scrollToTop.active {
  z-index: 10;
  opacity: 1;
  visibility: visible;
  right: 20px;
}

@media (max-width: 450px) {
  .scrollToTop {
    width: 37px;
    height: 37px;
    font-size: 16px;
  }
}
