.portfolio-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 19px;
  flex-wrap: wrap;
}

.portfolio-img-card {
  min-width: 300px;
  width: 32%;
}

.portfolio-img-card .img-card {
  position: relative;
  max-width: 100%;
  height: 360px;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: var(--box-shadow);
}

.portfolio-img-card .overlay {
  transition: 1s linear;
}

.portfolio-img-card .img-card:hover .overlay {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}

.portfolio-img-card .info {
  position: absolute;
  z-index: 5;
  bottom: 0;
  left: 0;
  margin: 20px;
  color: #fff;
  opacity: 0;
  transform: translateY(-20px);
  transition: 0.5s linear;
}

.portfolio-img-card .img-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.portfolio-img-card:hover .info {
  transform: translateY(0);
  opacity: 1;
}

.img-card h3 {
  font-size: 32px;
  color: var(--second-color);
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 10px;
  padding: 1px 5px;
}

.img-card span {
  font-size: 22px;
  color: var(--second-color);
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 10px;
  padding: 1px 5px;
}

.portfolio-modal {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background: var(--bg-transparent-color-01);
  backdrop-filter: blur(20px);
  visibility: hidden;
  opacity: 0;
  transition: 0.3s linear;
}

.portfolio-modal.active {
  visibility: visible;
  opacity: 1;
  z-index: 12;
}

.portfolio-modal-body {
  position: relative;
  background: var(--modal-bg-color);
  max-width: 600px;
  width: 100%;
  padding: 40px;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  transition: 0.3s linear;
}

.portfolio-modal.active .portfolio-modal-body {
  animation: slideIn 0.9s forwards;
}

@keyframes slideIn {
  from {
    transform: translateY(-100px);
  }
  to {
    transform: translateY(0);
  }
}

.portfolio-modal-body h3 {
  font-size: 32px;
}

.portfolio-modal-body img {
  margin: 20px 0;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.portfolio-close-btn {
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px;
  cursor: pointer;
}

@media (max-width: 450px) {
  .portfolio-modal-body h3 {
    font-size: 25px;
  }

  .portfolio-modal-body {
    padding: 40px 15px 15px;
  }
}
