.theme-btn {
  position: fixed;
  z-index: 11;
  right: 0;
  top: 150px;
  background: var(--bg-transparent-color-01);
  backdrop-filter: blur(20px);
  width: 50px;
  height: 50px;
  font-size: 20px;
  border-radius: 5px 0 0 5px;
  box-shadow: 0px 0px 2px rgb(54, 54, 54);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
